.text-uniq {
  color: rgb(66, 135, 245);
}

.text-title {
  color: rgb(9, 45, 106);
}
text-title-blue {
  color: rgba(0, 101, 179, 1);
}
.text-title-yellow {
  color: rgba(255, 255, 0, 1);
}
.text-title-red {
  color: rgba(191, 30, 46, 1);
}
.text-title:hover {
  color: rgba(9, 45, 106, 0.9);
}
.bg-yellow {
    background-color: rgba(255, 255, 0, 1);
}
