.h {
    &-cs-50 {
        height: 50px!important;
    }
    &-cs-100 {
        height: 100px!important;
    }
    &-cs-150  {
        height: 150px!important;
    }
    &-cs-200  {
        height: 200px!important;
    }
}

.w {
    &-cs-fit {
        width: fit-content;
    }
}