// DESKTOP
@media only screen and (min-width: 901px) {
  // TOP_BAR
  #header {
    //   NAV_BAR
    .nav_bar_cs {
      /* Height affect to menu-bar mobile */
      height: 40px !important;
    }
    .nav_bar {
      /* Height affect to menu-bar mobile */
      height: 40px !important;
    }
    .navbar-nav {
      /* Height affect to menu-bar mobile */
      height: 40px !important;
      .nav-item {
        div {
          top: 40px;
          left: 15px;
        }
      }
    }
    .nav-link,
    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      font-weight: 500;
      /* Height affect to menu-bar mobile */
      height: 40px !important;
    }
  }
  //CONTENT
  #content {
    #date {
      margin-top: 4px;
    }
  }
  // SECTION
  .section-cs-table {
    .section-cs-list {
      height: 300px;
    }
    .section-cs-table-last-item {
      height: 400px;
    }
  }
}

@media only screen and (min-width: 992px) {
  nav.navbar:not(.h-auto) {
    min-height: 40px;
  }
}
