// MOBILE - TABLET
@media only screen and (max-width: 900px) {
  // TOP_BAR
  #header {
    #top_bar {
      height: 120px;
      padding: 15px 0px;
      .top_bar-container {
        .top_bar-title {
          justify-content: center;
          text-align: center;
          .subtitle {
          }
          .title {
          }
        }
      }
    }
  }

  //CONTENT
  #content {
    #date {
      margin-top: 32px;
    }
    .right-news {
      margin-top: 15px;
    }
  }

  //   SECTION
  .section-cs-table > div {
    margin-top: 16px;
  }
  .section-cs-table {
    .section-cs-list {
      height: 330px;
    }
    .section-cs-table-last-item {
        height: 300px;
    }
  }
}
