* {
  box-sizing: border-box;
  font-size: 14px;
}
a {
  color: rgba(0, 0, 0, 0.65);
}
a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.text-uniq {
  color: rgb(66, 135, 245);
}
.text-title {
  color: rgb(9, 45, 106);
}
.text-title-blue {
  color: rgba(0, 101, 179, 1);
}
.text-title-yellow {
  color: rgba(255, 255, 0, 1);
}
.text-title-red {
  color: rgba(191, 30, 46, 1);
}

.text-title-blue-main {
  color: #000FDB;
}
.text-title-yellow-main {
  color: #FCFFAF;;
}
.text-title-red-main {
  color: #F12020;
}
.text-title:hover {
  color: rgba(9, 45, 106, 0.9);
}

.text-xs {
  font-size: 12px; /* 12px */
}
.text-sm {
  font-size: 14px; /* 14px */
}
.text-base {
  font-size: 16px; /* 16px */
}
.text-lg {
  font-size: 18px; /* 18px */
}
.text-xl {
  font-size: 20px; /* 18px */
}
.text-bold {
  font-weight: 700;
}
.text-justify {
  text-align: justify;
}
.bg-yellow {
  background-color: rgba(255, 255, 0, 1);
}
.bg-blue {
  background-color: rgba(58, 160, 219, 1);
}
.bg-blue-main {
  background-color: #000FDB;
}
.bg-yellow-main {
  background-color: #FCFFAF;
}
.bg-red-main {
  background-color: #F12020;
}

#header #top_bar {
  height: 90px;
  display: flex;
  align-items: center;
}
#header #top_bar .top_bar-container .top_bar-title {
  font-weight: bold;
}
#header #top_bar .top_bar-container .top_bar-title .subtitle {
  font-size: 14px;
  margin-bottom: 0px;
  /* color: rgba(0, 101, 179, 1); */
  color: #000FDB;
}
#header #top_bar .top_bar-container .top_bar-title .subtitle_1 {
  font-size: 14px;
  margin-bottom: 0px;
  color: rgba(0, 101, 179, 1);
}
#header #top_bar .top_bar-container .top_bar-title .title {
  font-size: 16px;
  /* color: rgba(191, 30, 46, 1); */
  color: #F12020;
  margin-bottom: 0px;
}
#header #top_bar .top_bar-container .top_bar-title .title_1 {
  font-size: 16px;
  color: rgba(191, 30, 46, 1);
  margin-bottom: 0px;
}
#header .nav_bar_cs {
  /* Height affect to menu-bar mobile */
  /* background-color: rgba(58, 160, 219, 1); */
  background-color: #FCFFAF;
}
#header .nav_bar_cs_1 {
  /* Height affect to menu-bar mobile */
  background-color: rgba(58, 160, 219, 1);
}
#header .navbar-nav {
  font-size: 13px;
}
#header .nav-link,
#header .nav-item {
  font-size: 16px;
  color: #000FDB;
  font-weight: 700;
  display: flex;
  gap: 4px;
}

#header .nav-item_1 {
  font-size: 16px;
  color: white;
  font-weight: 700;
  display: flex;
  gap: 4px;
}

#header .nav-link:hover,
#header .nav-item:hover {
  color: rgba(9, 45, 106, 0.9);
}
#mainNavHome {
  color: #000FDB;
}
#mainNavHome:hover {
  color: rgba(9, 45, 106, 0.9);
}

#mainNavHome_1 {
  color: white;
}
#mainNavHome_1:hover {
  color: rgba(9, 45, 106, 0.9);
}
/* THONG TIN TRUONG */
.thong-tin-truong {
  display: flex;
  column-gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.thong-tin-truong .left-news .list-news-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.thong-tin-truong .left-news .list-news-item .image img {
  width: 87px;
  height: 63px;
  object-fit: cover;
  border-radius: 8px;
}
/* SECTION */
.section-cs {
  display: flex;
  background-color: #035fb5;
  height: 40px;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
.section-cs-table .section-cs-item {
  border-color: #dde4ea;
  border-style: dotted;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

/* --------- */
@media only screen and (max-width: 900px) {
  #header #top_bar {
    height: 120px;
    padding: 15px 0px;
  }
  #header #top_bar .top_bar-container .top_bar-title {
    justify-content: center;
    text-align: center;
  }
  #content #date {
    margin-top: 32px;
  }
  .thong-tin-truong .right-news {
    margin-top: 16px;
  }
  /* SECTION */
  .section-cs-table > div:not(:first-child) {
    margin-top: 32px;
  }
  .section-cs-table .section-cs-list {
    height: 350px;
  }
  .section-cs-table .section-cs-table-last-item {
    height: 300px;
  }
  #header .nav-link,
  #header .nav-item {
    color: rgb(9, 45, 106);
    font-weight: 700;
  }
}
@media only screen and (min-width: 901px) {
  #header .nav_bar_cs {
    /* Height affect to menu-bar mobile */
    height: 40px !important;
  }
  #header .nav_bar {
    /* Height affect to menu-bar mobile */
    height: 40px !important;
  }
  #header .nav-item div {
    top: 40px;
    left: 15px;
  }
  #header .navbar-nav {
    /* Height affect to menu-bar mobile */
    height: 40px !important;
  }
  #header .nav-link,
  #header .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    /* Height affect to menu-bar mobile */
    height: 40px !important;
  }

  /* SECTION */
  .section-cs-table .section-cs-list {
    height: 320px;
  }
  .section-cs-table .section-cs-table-last-item {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  nav.navbar:not(.h-auto) {
    min-height: 40px;
  }
}
