// MOBILE - TABLET
@media only screen and (max-width: 900px) {
  .banner-ts {
    .banner-ts-desktop {
      display: none;
    }
    .banner-ts-mobile {
      display: block;
    }
  }
  .nganh-hoc-other {
    gap: 16px;
  }

  .nganh-hoc {
    .nganh-hoc--content-text {
      padding: 0px 16px;
    }
    .nganh-hoc--content-list {
      padding: 0px 16px;
    }
  }
}
